/* General reset and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #842853;
    color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    background: #eec4eb;
    color: #fff;
}

.content {
    margin-top: 60px; /* Adjust this based on the height of the nav */
}

section {
    padding: 100px 20px;
    height: 100vh;
}

section:nth-of-type(even) {
    background: #f4f4f4;
}
#home{
    background-color: rgb(243, 202, 243);
}